.modalBubble {
  //   font-family: fantasy;
  width: 40px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.title {
  font-size: 24px;
}

.content {
  margin-top: 15px;
  font-size: 18px;
}

.subContent {
  text-align: center;
  margin: 30px 0;
  font-size: 16px;
  opacity: 0.7;
}

.btnGroup {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.button {
  height: 45px;
  width: 100%;
  border-radius: 15px;
  background-color: #22396e;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}

.disabled {
    background-color: #22396e80;
}
